$darkRed: rgba(83, 1, 1, 0);
$red: rgb(206, 6, 6);
$grey: rgb(53, 53, 53);
$lightGrey: rgb(180, 180, 180);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(62, 20, 216);
$green: rgb(11, 143, 51);