@import '../../styles/colors.scss';
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $lightGrey;
    padding: 5px;
    .header-text {
        font-weight: bold;
        font-size: 15px;
    }
    .logo{
        width: 40px;
        height: auto;
        margin: 5px;
    }
}