@import '../../styles/colors.scss';
@import '../../styles/font-sizes.scss';
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $lightGrey;
  padding: 5px;
  .logo-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .header-text {
      font-weight: bold;
      font-size: $page-title;
    }
    .logo {
      width: 40px;
      height: auto;
      margin: 5px;
    }
  }
  .sub-title {
    font-size: $page-subtitle;
    text-transform: lowercase;
    font-style: italic;
  }
}
